on:
  push:
    branches: [main, master]

name: quarto-render.yaml

jobs:
  quarto-render:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Set up renv
        uses: r-lib/actions/setup-renv@v2

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render Quarto site
        uses: quarto-dev/quarto-actions/render@v2

      - name: Publish Quarto site
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
